.btn--bleed-primary {
  background-color: var(--color-primary);
  color: var(--color-white);

  &:visited {
    color: var(--color-white);
  }

  &:hover {
    background-color: var(--color-primary-hover);
  }

  &:active {
    background-color: var(--color-primary-active);
  }
  &:focus-visible {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    box-shadow: 0px 0px 8px var(--color-primary);
  }
  &.disabled {
    color: var(--palette-gray-50);
    background-color: var(--palette-gray-30);
  }
}
.btn--bleed-secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);

  &:visited {
    color: var(--color-white);
  }

  &:hover {
    background-color: var(--color-secondary-hover);
  }

  &:active {
    background-color: var(--color-secondary-active);
  }
  &:focus-visible {
    background-color: var(--color-secondary);
    box-shadow: 0px 0px 8px var(--color-primary);
    border: 1px solid var(--color-primary);
  }
  &.disabled {
    color: var(--palette-gray-50);
    background-color: var(--palette-gray-30);
  }
}
.btn-bleed{
  padding: 12px 16px 32px 16px !important;
  height: 60px;
  .button-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .children-content {
      margin-right: 32px;
      letter-spacing: 0.585px;
    }
    .icon-button {
      font-size: 16px;
    }
  }
}
.btn--bleed-primary-loading {
  background-color: var(--color-primary-active);
  color: var(--color-white);
  cursor: not-allowed;
}
.btn--bleed-secondary-loading {
  background-color: var(--color-secondary-active);
  color: var(--color-white);
  cursor: not-allowed;
}