.btn--outline-primary {
    background-color: var(--white);
    border: 1px solid var(--btn-outline-primary-border) !important;
    color: var(--btn-outline-primary-border);

    &:hover {
        background-color: var(--btn-outline-primary-hover);
        color: var(--white);
    }

    &:active {
        color: var(--white);
        background-color: var(--btn-outline-primary-active);
    }
    &:focus-visible {
        background-color: var(--white);
        color: var(--btn-outline-primary-border);
        border: 1px solid var(--btn-outline-primary-border);
        box-sizing: border-box;
        box-shadow: 0px 0px 8px var(--btn-outline-primary-border);
    }
    &.disabled {
        color: var(--btn-outline-primary-disabled-label);
        background-color: var(--white) !important;
        border-color: var(--btn-outline-primary-disabled-border) !important;
    }
}
.btn--outline-danger {
    background-color: var(--white);
    border: 1px solid var(--btn-outline-danger-border) !important;
    color: var(--btn-outline-danger-border);

    &:hover {
        background-color: var(--btn-outline-danger-hover);
        color: var(--white);
    }

    &:active {
        color: var(--white);
        background-color: var(--btn-outline-danger-active);
    }
    &:focus-visible {
        background-color: var(--btn-outline-danger-focus);
        color: var(--white);
        border: 1px solid var(--color-primary) !important;
        box-sizing: border-box;
        box-shadow: 0px 0px 8px var(--color-primary);
    }
    &.disabled {
        color: var(--btn-outline-primary-disabled-label);
        background-color: var(--white) !important;
        border-color: var(--btn-outline-primary-disabled-border) !important;
    }
}
.btn-outline-have-icon {
    .button-content-have-icon {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .children-content {
            margin-right: 32px;
        }
        .icon-button {
            font-size: 16px;
        }
    }
    &.btn--sm {
        height: 32px;
        padding: 8px 8px 8px 12px;
    }

    &.btn--md {
        height: 36px;
        padding: 10px 12px 10px 16px;
    }

    &.btn--lg {
        height: 40px;
        padding: 12px 12px 12px 16px;
    }

    &.btn--xl {
        height: 56px;
        padding: 20px 12px 20px 16px;
    }
}

.btn-outline-no-icon {
    .button-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 16px;
        .children-content {
            margin-right: 32px;
        }
        .icon-button {
            font-size: 16px;
        }
        
    }
    &.btn--sm {
        height: 32px;
        padding: 8px 16px 8px 12px;
    }

    &.btn--md {
        height: 36px;
        padding: 10px 16px 10px 16px;
    }

    &.btn--lg {
        height: 40px;
        padding: 12px 16px 12px 16px;
    }

    &.btn--xl {
        height: 56px;
        padding: 20px 16px 20px 16px;
    }
}
.btn--outline-primary-loading {
    background-color: var(--btn-outline-primary-hover);
    color: var(--white);
    border: 1px solid var(--color-primary) !important;
}
.btn--outline-danger-loading {
    background-color: var(--btn-outline-danger-hover);
    color: var(--white);
    border: 1px solid var(--color-critical) !important;
}