.btn--outline-primary {
  background-color: var(--color-white);
  box-shadow: inset 0 0 0 1px var(--color-primary);
  color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary) !important;
    color: var(--color-white) !important;
  }

  &:active {
    color: var(--color-white);
    background-color: var(--color-primary-active);
  }
  &:focus {
    background-color: var(--color-white);
    color: var(--color-primary);
    box-shadow: inset 0 0 0 2px var(--color-primary);
  }
  &.disabled {
    color: var(--palette-gray-50) !important;
    background-color: var(--color-white) !important;
    box-shadow: inset 0 0 0 1px var(--palette-gray-30) !important;
  }
}
.btn--outline-danger {
  background-color: var(--color-white);
  box-shadow: inset 0 0 0 1px var(--color-critical);
  color: var(--color-critical);

  &:hover {
    background-color: var(--color-critical) !important;
    color: var(--color-white) !important;
  }

  &:active {
    color: var(--color-white);
    background-color: var(--color-critical-active);
  }
  &:focus {
    background-color: var(--color-critical);
    color: var(--color-white);
    box-shadow: inset 0 0 0 2px var(--color-primary),
      inset 0 0 0 3px var(--color-white);
  }
  &.disabled {
    color: var(--palette-gray-50) !important;
    background-color: var(--color-white) !important;
    box-shadow: inset 0 0 0 1px var(--palette-gray-30) !important;
  }
}
.btn-outline-have-icon {
  .button-content-have-icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .children-content {
      margin-right: 32px;
      letter-spacing: 0.244px;
    }
    .icon-button {
      font-size: 16px;
    }
  }
}

.btn-outline-no-icon {
  .button-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 16px;
    .children-content {
      margin-right: 30px;
      letter-spacing: 0.244px;
    }
    .icon-button {
      font-size: 16px;
    }
  }
}
.btn--outline-primary-loading {
  background-color: var(--color-primary-active);
  color: var(--color-white);
  cursor: not-allowed;
}
.btn--outline-danger-loading {
  background-color: var(--color-critical-active);
  color: var(--color-white);
  cursor: not-allowed;
}
