.input-search-select__wrapper {
    width: calc(100% - 40px);
    display: flex;
    height: 40px;
    .component__input-search-box {
        height: 40px;
        width: 100% ;
        background-color: #e5e5e5;
        &.background-type1{
            background-color: #F4F4F4 !important;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        .component__input-search {
            height: 40px;
            border: none !important ;
            background-color: #e5e5e5;
            width: 100% ;
            outline: none;
            &.background-type1{
                background-color: #F4F4F4 !important;
            }
        }
        .input-icon__clear{
            color: var(--palette-coolGray-50);
        }
    }
}
