.input-search-select__wrapper {
    width: calc(100% - 40px);
    display: flex;
    height: 40px;
    .component__input-search-box {
        height: 40px;
        background-color: #e5e5e5;
        &.background-type1{
            background-color: #F4F4F4 !important;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        &.visible__input-search {
            width: 100% !important;
            transition: width 0.2s;
        }
        &.hide__input-search {
            width: 0px !important;
            transition: width 0.2s;
        }
        .component__input-search {
            height: 40px;
            border: none !important ;
            background-color: #e5e5e5;
            &.background-type1{
                background-color: #F4F4F4 !important;
            }
            &.visible__input-search {
                width: 100% !important;
                transition: width 0.2s;
                outline: none;
                padding-left: 4px;
            }
            &.hide__input-search {
                width: 0px !important;
                outline: none;
                transition: width 0.2s;
                padding: 0px;
            }
        }
        .input-icon__clear{
            color: var(--palette-coolGray-50);
        }
    }
}
