/* Style for Button.tsx */
.btn-component {
  &.btn--sm {
    height: 32px;
    padding: 8px 12px 8px 16px;
  }

  &.btn--md {
    height: 36px;
    padding: 10px 12px 10px 16px;
  }

  &.btn--lg {
    height: 40px;
    padding: 12px 12px 12px 16px;
  }

  &.btn--xl {
    height: 48px;
    padding: 16px 12px 16px 16px;
  }

  &.btn--2xl {
    height: 56px;
    padding: 20px 12px 20px 16px;
  }

  .loading__button {
    opacity: 0.6;
  }

  .box-icon {
    width: 16px;
    height: 16px;
    .ant-spin {
      font-size: 14px !important;
      line-height: 1px;
    }
  }
}
