/* Style for InputSelect.tsx */
.input-select__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .input-select__label {
    width: 100%;
    display: flex;

    .component__title--disabled {
      color: var(--palette-gray-40);
    }

    label {
      font-size: 0.75em;
      white-space: nowrap;
      color: var(--palette-gray-70);
    }
  }

  .input-select__container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    outline: 1px solid var(--palette-coolGray-50);
    background-color: var(--palette-gray-10);
    height: 40px;

    &.input-select__container--white {
      background-color: var(--color-white);
    }

    .input-select__icon {
      transition: all 0.3s ease;
      color: var(--palette-gray-60);
    }

    &.input-select__container--sm {
      height: 32px !important;
    }

    &:hover {
      outline-color: var(--color-primary);
      .input-select__icon {
        color: var(--color-primary);
      }
      .input-select__icon--disabled {
        color: var(--palette-gray-40);
      }
    }

    &:focus-within {
      outline: 2px solid var(--color-primary);
      .input-select__icon {
        transform: rotate(180deg);
        color: var(--color-primary);
      }
    }

    &.input-select--disabled {
      background-color: var(--palette-gray-10);
      span {
        color: var(--palette-gray-40);
      }
      input {
        color: var(--palette-gray-40) !important;
      }
      &:hover {
        outline-color: var(--palette-coolGray-50);
        cursor: not-allowed;
      }
    }

    &.input-select--float {
      &:hover:not(.input-select--disabled):not(:focus-within) {
        outline-color: var(--palette-gray-100);
        .input-select__icon {
          color: var(--palette-gray-60);
        }
      }

      &:focus-within {
        box-shadow: none;
        outline: 2px solid var(--color-primary);
        .component__title {
          color: var(--color-primary);
        }
        .input-select__icon {
          color: var(--color-primary);
        }
      }
    }

    &.input-select--material {
      outline: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: inset 0px -1px 0px var(--palette-gray-50);
      margin-bottom: -1px;

      &:hover {
        background-color: var(--palette-grayHover-10);
        .component__input {
          background-color: var(--palette-grayHover-10);
        }
        .component__input.disabled-field {
          background-color: var(--palette-gray-10);
        }
        .input-select__icon {
          color: var(--palette-gray-60);
        }
      }

      &:focus-within {
        outline: 2px solid var(--color-primary);
        box-shadow: none;
        .input-select__icon {
          color: var(--palette-gray-60);
        }
      }

      &.input-select--disabled {
        box-shadow: none;
        background-color: var(--palette-gray-10);
      }

      &.input-select--float:focus-within {
        box-shadow: none;
        outline-width: 2px;
      }
    }

    .component__title {
      position: absolute;
      color: var(--palette-gray-60);
      transition: all 0.1s ease-out;
      padding: 0 4px;
      z-index: 200;
      top: 9px;
      font-size: 14px;

      &.component__title--normal {
        left: 8px;
      }
      &.component__title--sm {
        top: 5px;
      }
      &.component__title--prefix {
        left: 41px;
      }
      &.component__title--expanded {
        top: 0;
        left: 8px;
        background-color: var(--color-white);
        transform: translateY(-50%) scale(0.9);
      }
    }

    input {
      font-family: inherit;
      padding: 0;
      outline: none;
      border: none;
      width: 100%;
      font-size: 14px;
      line-height: 1rem;
      background-color: transparent;

      &::placeholder {
        color: var(--palette-gray-60);
      }

      &:disabled {
        &::placeholder {
          color: var(--palette-gray-40);
        }
        &:hover {
          cursor: not-allowed;
        }
      }

      &:not(:placeholder-shown) + .component__title {
        top: 0;
        left: 8px;
        background-color: var(--color-white);
        transform: translateY(-50%) scale(0.9);
      }

      &:focus + .component__title {
        top: 0;
        left: 8px;
        background-color: var(--color-white);
        transform: translateY(-50%) scale(0.9);
      }

      &:focus::placeholder {
        color: transparent;
      }
    }

    .input-select__icon--disabled {
      color: var(--palette-gray-40);
    }

    .input-icon__clear {
      color: var(--palette-coolGray-50);
      &:hover {
        cursor: pointer;
        color: var(--palette-coolGrayHover-50);
      }
    }
  }
}

.form-item__container {
  &.form-item__container--error {
    .form-item__content {
      .component__input {
        &.input-select--material {
          outline: 1px solid;
          box-shadow: none !important;
          &:focus-within {
            outline-color: var(--color-primary) !important;
            outline-width: 2px;
          }
        }
      }
    }
  }
}
