@import "../../styles/index.scss";
.tree {
  height: 512px;
  overflow-x: auto;

  &.sub-tree {
    display: none;
    visibility: hidden;

    &.expanded {
      display: initial;
      visibility: visible;

      li {
        list-style-type: none;
        margin: 0;
        position: relative;
      }
      li::before,
      li::after {
        content: "";
        left: -65px;
        position: absolute;
        right: auto;
      }
      li::before {
        border-left: 1px dashed #d8d8d8;
        bottom: 50px;
        height: 112%;
        top: 0;
        width: 1px;
      }
      li::after {
        border-bottom: 1px dashed #d8d8d8;
        border-bottom-left-radius: 19px;
        height: 10px;
        top: 23px;
        width: 65px;
      }
      > ul > li::before,
      .tree > ul > li::after {
        border: 0;
      }
      li:last-child::before {
        height: 27px;
      }
    }
  }

  .tree-item {
    list-style: none;
    display: flex;
    align-items: center;
    .node-toggler {
      visibility: hidden;

      &.show {
        visibility: visible;
      }
    }

    .tree-content-wrapper {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;

      .actions {
        i[role="button"] {
          margin-right: 0.75rem;

          &:last-of-type {
            margin-right: unset;
          }
        }
      }
    }
  }
  .tree-node {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 64px;
    margin-bottom: 10px;
    border-radius: 7px;
    background-color: #fff;
    align-items: center;

    &:hover {
      .btn__edit-display {
        display: block;
      }
      .btn__edit-none {
        display: none;
      }
    }

    .btn__edit-display {
      display: none;
    }

    .tree-node__edit {
      justify-content: space-between;
      .tree-node__quota {
        .tree-node__edit-quota-none {
          display: none;
        }
        .tree-node__edit-quota-action {
          display: flex;
          align-items: center;
          justify-content: space-around;
          .component__input {
            width: 220px;
          }
        }
        .tree-node__edit-quota {
          display: block;
        }
        @mixin btn {
          background: #ffffff;
          box-shadow: 0px 0px 10px #eeeeee;
          border-radius: 7px;
          border: none;
          height: 40px;
          padding: 10px;
          width: 40px;
          &:hover {
            cursor: pointer;
          }
          i {
            font-size: 20px;
          }
        }
        .btn__save-quota {
          @include btn;
          i {
            color: #3f8cff;
          }
        }
        .btn__cancel-quota {
          @include btn;
          i {
            color: #e91616;
          }
        }
      }
      .btn__edit-actions {
        width: 300px;
        @mixin btn-edit {
          box-sizing: border-box;
          border-radius: 7px;
          display: flex;
          align-items: center;
          width: 47px;
          height: 30px;
          justify-content: space-around;
          span {
            font-size: 12px;
            color: #fff;
            margin: 3px 12px;
          }
        }

        .btn__edit {
          @include btn-edit;
          background: #3f8cff;
          border: 2px solid #3f8cff;
        }
        .btn__delete {
          @include btn-edit;
          background: #e91616;
          border: 2px solid #e91616;
        }
      }
    }

    @mixin status {
      border-radius: 7px;
      padding: 7px 9px;
      height: 36px;
      font-weight: 600;
    }

    .status-number {
      @include status;
      background: #eff2fe;
      color: #3f8cff;
    }
    .tree-node__edit-status-number {
      @include status;
      background: rgba(7, 187, 74, 0.1);
      color: #07bb4a;
    }
    .tree-node__info {
      flex: 20;
      .text-input {
        justify-content: space-between;
      }
    }
    .tree-node__text {
      .tree-node__text-top {
        font-weight: 700;
        font-size: 13px;
      }
      .tree-node__text-bottom {
        font-weight: normal;
        font-size: 11px;
        color: #979797;
      }
    }
    .tree-node__icon-dropdown {
      text-align: -webkit-center;
      width: 22px;
    }
    .tree-node__icon-toggle {
      flex: 0 0;
      font-size: 30px;
      margin-right: 30px;
      margin-left: 30px;
    }
    .tree-node__info-img {
      width: 70px;
      img {
        max-width: 40px;
        min-width: 40px;
      }
    }
    .tree-node__btn {
      .tl-btn {
        border: none;
        border-radius: 4px;
        font-weight: bold;
        font-size: 13px;

        &.tl-btn--active {
          background: rgba(46, 212, 122, 0.1);
          color: #07bb4a;
        }

        &.tl-btn--deactive {
          background: linear-gradient(
              0deg,
              rgba(255, 128, 139, 0.1),
              rgba(255, 128, 139, 0.1)
            ),
            #ffffff;
          color: #e91616;
        }
      }
    }
  }
  .has-border {
    border: 1px solid rgba(94, 129, 244, 0.1);
  }
}
