.pagination__previous-icon, .pagination__next-icon {
    background: var(--color-white);
    font-size: 14px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        cursor: pointer;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.09);
        border-radius: 7px;
    }

    i {
        color: rgb(97, 97, 97);
    }
}
.pagination-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    font-size: 14px;
    line-height: 16px;
    .number-per-page-box {
        display: flex;
        flex-direction: row;
        .number-per-page-box-1 {
            height: 40px;
            padding: 0px 8px 0px 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-right: 0.5px solid #e0e0dc;
        }
        .number-per-page-box-2 {
            display: flex;
            align-items: center;
            padding: 0px 16px;
        }
    }
    .change-page-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        .change-page-box-1 {
            border-left: 0.5px solid #e0e0dc;
            height: 40px;
        }
        .box-change-page-button {
            margin-left: 16px;
            margin-right: 4px;
            display: flex;
            flex-direction: row;
        }
    }
}
.menu-page-size {
    &.ant-dropdown-menu{
        padding: 0px 0px;
        .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
            background-color: var(--palette-gray-10);
        }
        .ant-dropdown-menu-item-selected, .ant-dropdown-menu-submenu-title-selected{
            color: var(--palette-gray-100);
            background-color: var(--palette-gray-20);
        }
    }
    
}
.menu-page-change {
    overflow-y: scroll;
    &.options-select-page-height {
        height: 200px;
    }
    &.ant-dropdown-menu{
        padding: 0px 0px;
        .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
            background-color: var(--palette-gray-10);
        }
        .ant-dropdown-menu-item-selected, .ant-dropdown-menu-submenu-title-selected{
            color: var(--palette-gray-100);
            background-color: var(--palette-gray-20);
        }
    }
}
.menu-page-change::-webkit-scrollbar {
    width: 0px;
}

.menu-page-change::-webkit-scrollbar-track {
    display: none;
}

.menu-page-change::-webkit-scrollbar-thumb {
    display: none;
}
.change-one-page-box {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-change-page-unable {
        color: #a8a8a8;
        cursor: not-allowed;
    }
}