/* Style for Tabs.tsx */
.tabs__container {
  .tabs__error {
    color: var(--color-critical) !important ;
  }
  .ant-tabs {
    .ant-tabs-tab {
      padding: 0;
      box-shadow: inset 0px -1px 0px #e1e3e5;
      &:hover {
        box-shadow: inset 0px -2px 0px #5f5d5a;
        color: var(--palette-gray-70);
      }
      &:focus-within {
        outline: 2px solid var(--palette-blue-60);
        outline-offset: -2px;
      }
    }
    .ant-tabs-tab-btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px 64px 12px 16px;
      height: 40px;
    }
    .ant-tabs-tab + .ant-tabs-tab {
      margin: 0;
    }
    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: var(--palette-gray-100);
      }
    }
    .ant-tabs-tab-btn:focus,
    .ant-tabs-tab-remove:focus,
    .ant-tabs-tab-btn:active,
    .ant-tabs-tab-remove:active {
      color: var(--palette-gray-100);
      font-weight: 500;
      font-size: 14px;
      border: none;
    }
    .ant-tabs-ink-bar {
      box-shadow: inset 0px -2px 0px var(--color-primary);
    }
  }

  .ant-tabs-card {
    .ant-tabs-nav {
      .ant-tabs-nav-list {
        .ant-tabs-tab:active {
          outline: 2px solid var(--color-primary);
          outline-offset: -2px;
        }
        .ant-tabs-tab {
          &:hover {
            background-color: var(--palette-grayHover-20);
          }
          padding: 0;
          border-radius: 0;
          color: var(--palette-gray-70);
          border: none;
          background-color: var(--palette-gray-20);
          box-shadow: -0.0625rem 0 0 0 var(--palette-gray-50);

          &.ant-tabs-tab-active {
            background: var(--palette-gray-10);
            box-shadow: inset 0px 2px 0px var(--palette-blue-60);
            & + .ant-tabs-tab {
              box-shadow: none;
            }

            .ant-tabs-tab-btn {
              font-weight: 500;
              font-size: 14px;
              line-height: 16px;
              color: var(--palette-gray-100);
            }
          }
        }
      }
    }
    .ant-tabs-content-holder {
      background-color: var(--palette-gray-10);
    }
  }
  .ant-tabs-top > .ant-tabs-nav,
  .ant-tabs-bottom > .ant-tabs-nav,
  .ant-tabs-top > div > .ant-tabs-nav,
  .ant-tabs-bottom > div > .ant-tabs-nav {
    margin: 0;
  }

  /* .ant-tabs-top > .ant-tabs-nav::before,
  .ant-tabs-bottom > .ant-tabs-nav::before,
  .ant-tabs-top > div > .ant-tabs-nav::before,
  .ant-tabs-bottom > div > .ant-tabs-nav::before {
    border-bottom: none;
  } */

  .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
  .ant-tabs-card.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
  .ant-tabs-card.ant-tabs-top
    > div
    > .ant-tabs-nav
    .ant-tabs-tab
    + .ant-tabs-tab,
  .ant-tabs-card.ant-tabs-bottom
    > div
    > .ant-tabs-nav
    .ant-tabs-tab
    + .ant-tabs-tab {
    margin-left: 0px;
  }

  &.tabs__container--white {
    .ant-tabs {
      .ant-tabs-content-holder {
        background-color: #ffffff;
      }
    }
    .ant-tabs-nav {
      .ant-tabs-nav-wrap {
        background-color: #ffffff;
      }
    }
  }
}
