.form-data-cell-left {
  width: 100%;
  padding-left: 16px;
  padding-right: 8px;
}
.form-data-cell-right {
  width: 100%;
  padding-right: 16px;
  padding-left: 8px;
}
.form-data-cell-center {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}
.layout-cell-size-lg {
  height: 56px !important;
  display: flex;
  align-items: center;
}
.layout-cell-size-md {
  height: 40px !important;
  display: flex;
  align-items: center;
}
.layout-cell-size-sm {
  height: 32px !important;
  display: flex;
  align-items: center;
}
.layout-cell-position-left {
  justify-content: flex-start;
}
.layout-cell-position-right {
  justify-content: flex-end;
}
.layout-cell-position-center {
  justify-content: center;
}
