.btn--ghost {
  background-color: unset;
  color: var(--palette-gray-100);

  &:visited {
    color: var(--palette-gray-100);
  }

  &:hover {
    background-color: var(--palette-grayHover-10) !important;
  }

  &:active {
    background-color: var(--palette-gray-30);
  }

  &:focus {
    background-color: unset;
    box-shadow: inset 0 0 0 2px var(--color-primary);
  }
  &.disabled {
    color: var(--palette-gray-50) !important;
    background-color: unset !important;
  }
}

.btn--ghost-primary {
  background-color: unset;
  color: var(--color-white);

  &:visited {
    color: var(--color-white);
  }

  &:hover {
    background-color: var(--color-primary-hover) !important;
  }

  &:active {
    background-color: var(--color-primary-active);
  }

  &:focus {
    box-shadow: inset 0 0 0 2px var(--color-white);
    background-color: var(--color-primary-hover);
  }
  &.disabled {
    color: var(--palette-gray-50) !important;
    background-color: unset !important;
  }
}
.btn--ghost-secondary {
  background-color: unset;
  color: var(--color-white);

  &:visited {
    color: var(--color-white);
  }

  &:hover {
    background-color: var(--color-secondary-hover) !important;
  }

  &:active {
    background-color: var(--color-secondary-active);
  }

  &:focus {
    box-shadow: inset 0 0 0 2px var(--color-white);
    background-color: var(--color-secondary-hover);
  }
  &.disabled {
    color: var(--palette-gray-50) !important;
    background-color: unset !important;
  }
}
.btn-ghost-have-icon {
  .button-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 16px;
    align-items: center;
    .children-content {
      margin-right: 4px;
      letter-spacing: 0.244px;
    }
    .icon-button {
      font-size: 16px;
    }
  }
}
.btn-ghost-no-icon {
  display: flex;
  align-items: center;
  .button-content {
    width: 100%;
    height: 16px;
    .children-content {
      letter-spacing: 0.244px;
    }
    .icon-button {
      font-size: 16px;
    }
  }
}
