.btn--ghost {
    background-color: unset;
    color: var(--btn-ghost-label);
  
    &:visited {
      color: var(--btn-ghost-label);
    }
  
    &:hover {
      background-color: var(--btn-ghost-hover);
    }
  
    &:active {
      box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.05);
      background-color: var(--btn-ghost-active);
    }
  
    &:focus {
      box-shadow: 0px 0px 8px #0F62FE;
      border: 1px solid #0F62FE;
      background-color: var(--btn-ghost-focus);
    }
    &.disabled {
      color: var(--btn-ghost-disabled-label);
      background-color: unset;
    }
  }
  
  .btn--ghost-primary {
    background-color: unset;
    color: var(--btn-ghost-primary-label);
  
    &:visited {
      color: var(--btn-ghost-primary-label);
    }
  
    &:hover {
      background-color: var(--btn-ghost-primary-hover);
    }
  
    &:active {
      background-color: var(--btn-ghost-primary-hover);
    }
  
    &:focus {
      box-shadow: 0px 0px 8px #0F62FE;
      border: 1px solid #0F62FE;
      background-color: var(--btn-ghost-primary-focus);
    }
    &.disabled {
      color: var(--btn-ghost-primary-disabled-label);
      background-color: unset;
    }
  }
  .btn--ghost-secondary {
    background-color: unset;
    color: var(--btn-ghost-secondary-label);
  
    &:visited {
      color: var(--btn-ghost-secondary-label);
    }
  
    &:hover {
      background-color: var(--btn-ghost-secondary-hover);
    }
  
    &:active {
      background-color: var(--btn-ghost-secondary-hover);
    }
  
    &:focus {
      box-shadow: 0px 0px 8px #0F62FE;
      border: 1px solid #0F62FE;
      background-color: var(--btn-ghost-secondary-focus);
    }
    &.disabled {
      color: var(--btn-ghost-secondary-disabled-label);
      background-color: unset;
    }
  }
  .btn-ghost-have-icon{

    .button-content-have-icon{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .children-content{
        margin-right: 8px;
      }
      .icon-button{
        font-size: 16px;
      }
    }
    &.btn--sm {
      height: 32px;
      padding: 8px 12px;
    }
    
    &.btn--md {
      height: 36px;
      padding: 10px 16px;
    }
    
    &.btn--lg {
      height: 40px;
      padding: 12px 16px;
    }
    
    &.btn--xl {
      height: 56px;
      padding: 20px 16px;
    }
  } 
  .btn-ghost-no-icon{
    &.btn--sm {
      height: 32px;
      padding: 8px 12px;
    }
    
    &.btn--md {
      height: 36px;
      padding: 10px 16px;
    }
    
    &.btn--lg {
      height: 40px;
      padding: 12px 16px;
    }
    
    &.btn--xl {
      height: 56px;
      padding: 20px 16px;
    }
  }