.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);

  &:visited {
    color: var(--color-white);
  }

  &:hover {
    background-color: var(--color-primary-hover) !important;
  }

  &:active {
    background-color: var(--color-primary-active);
  }
  &:focus {
    background-color: var(--color-primary);
    box-shadow: inset 0 0 0 2px var(--color-primary),
      inset 0 0 0 3px var(--color-white);
  }
  &.disabled {
    color: var(--palette-gray-50) !important;
    background-color: var(--palette-gray-30) !important;
  }
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);

  &:visited {
    color: var(--color-white);
  }

  &:hover {
    background-color: var(--color-secondary-hover) !important;
  }

  &:active {
    background-color: var(--color-secondary-active);
  }

  &:focus {
    background-color: var(--color-secondary);
    box-shadow: inset 0 0 0 2px var(--color-primary),
      inset 0 0 0 3px var(--color-white);
  }

  &.disabled {
    color: var(--palette-gray-50) !important;
    background-color: var(--palette-gray-30) !important;
  }
}
.btn--danger {
  background-color: var(--color-critical);
  color: var(--color-white);

  &:visited {
    color: var(--color-white);
  }

  &:hover {
    background-color: var(--color-critical-hover) !important;
  }

  &:focus {
    background-color: var(--color-critical);
    box-shadow: inset 0 0 0 2px var(--color-primary),
      inset 0 0 0 3px var(--color-white);
  }

  &:active {
    background-color: var(--color-critical-active);
  }
  &.disabled {
    color: var(--palette-gray-50) !important;
    background-color: var(--palette-gray-30) !important;
  }
}
.btn-normal-have-icon {
  .button-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 16px;
    .children-content {
      margin-right: 32px;
      letter-spacing: 0.244px;
    }
    .icon-button {
      font-size: 16px;
    }
  }
}

.btn-normal-no-icon {
  .button-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 16px;
    .children-content {
      margin-right: 32px;
      letter-spacing: 0.244px;
    }
    .icon-button {
      font-size: 16px;
    }
  }
}
.btn--primary-loading {
  background-color: var(--color-primary-active);
  color: var(--color-white);
  cursor: not-allowed;
}
.btn--secondary-loading {
  background-color: var(--color-secondary-active);
  color: var(--color-white);
  cursor: not-allowed;
}
.btn--danger-loading {
  background-color: var(--color-critical-active);
  color: var(--color-white);
  cursor: not-allowed;
}

