.btn--primary {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-label);

    &:visited {
        color: var(--btn-primary-label);
    }

    &:hover {
        background-color: var(--btn-primary-hover);
    }

    &:active {
        background-color: var(--btn-primary-active);
    }
    &.disabled {
        color: var(--btn-primary-disabled-label);
        background-color: var(--btn-primary-disabled);
    }
}
.btn--secondary {
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-label);

    &:visited {
        color: var(--btn-secondary-label);
    }

    &:hover {
        background-color: var(--btn-secondary-hover);
    }

    &:active {
        background-color: var(--btn-secondary-active);
    }
    &.disabled {
        color: var(--btn-secondary-disabled-label);
        background-color: var(--btn-secondary-disabled);
    }
}
.btn--danger {
    background-color: var(--btn-danger-bg);
    color: var(--btn-danger-label);

    &:visited {
        color: var(--btn-danger-label);
    }

    &:hover {
        background-color: var(--btn-danger-hover);
    }

    &:active {
        background-color: var(--btn-danger-active);
    }
    &.disabled {
        color: var(--btn-danger-disabled-label);
        background-color: var(--btn-danger-disabled);
    }
}
.btn-normal-have-icon {
    .button-content-have-icon {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 16px;
        .children-content {
            margin-right: 32px;
        }
        .icon-button {
            font-size: 16px;
        }
        
    }
    &.btn--sm {
        height: 32px;
        padding-left: 12px;
        padding-right: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    &.btn--md {
        height: 36px;
        padding-left: 16px;
        padding-right: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &.btn--lg {
        height: 40px;
        padding-left: 16px;
        padding-right: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    &.btn--xl {
        height: 56px;
        padding-left: 16px;
        padding-right: 12px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.btn-normal-no-icon {
    &.btn--sm {
        height: 32px;
        padding-left: 12px;
        padding-right: 64px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    &.btn--md {
        height: 36px;
        padding-left: 16px;
        padding-right: 64px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &.btn--lg {
        height: 40px;
        padding-left: 16px;
        padding-right: 64px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    &.btn--xl {
        height: 56px;
        padding-left: 16px;
        padding-right: 64px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.btn--primary-loading {
    background-color: var(--btn-primary-hover);
    color: var(--btn-primary-label);
}
.btn--secondary-loading {
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-label);
}
.btn--danger-loading {
    background-color: var(--btn-danger-bg);
    color: var(--btn-danger-label);
}
.btn-normal-loading-for-no-icon{
    .button-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 16px;
        .children-content {
            margin-right: 32px;
        }
        .icon-button {
            font-size: 16px;
        }
        
    }
    &.btn--sm {
        height: 32px;
        padding-left: 12px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    &.btn--md {
        height: 36px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &.btn--lg {
        height: 40px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    &.btn--xl {
        height: 56px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.btn-normal-loading-for-have-icon{
    .button-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 16px;
        .children-content {
            margin-right: 32px;
        }
        .icon-button {
            font-size: 16px;
        }
        
    }
    &.btn--sm {
        height: 32px;
        padding-left: 12px;
        padding-right: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    &.btn--md {
        height: 36px;
        padding-left: 16px;
        padding-right: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &.btn--lg {
        height: 40px;
        padding-left: 16px;
        padding-right: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    &.btn--xl {
        height: 56px;
        padding-left: 16px;
        padding-right: 12px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}