.component_progress-indicator_horizontal {
    position: relative;

    .component_progress-indicator_horizontal__container {
        position: absolute;
        width: 100%;
        background-color: white;
        top: 0px;

        .list-nav-content {
            display: flex;
            width: 100%;

            .nav-content {
                padding: 12px 64px 12px 16px;
                box-shadow: inset 0px -1px 0px #E1E3E5;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                white-space: nowrap;
                color: var(--palette-gray-70);

                &.nav-content-active {
                    box-shadow: inset 0px -2px 0px var(--color-primary) !important;
                    font-weight: 600;
                    color: var(--palette-gray-100);
                }

                &:hover {
                    box-shadow: inset 0px -2px 0px #5f5d5a;
                    color: var(--palette-gray-70);
                }

                &:focus-within {
                    outline: 2px solid var(--palette-blue-60);
                    outline-offset: -2px;
                }
            }
        }

    }
}