$backgound-color: #f4f4f4;

/* Style for advance-id-filter.tsx */
.advance-multi-id-filter-master__wrapper {
  position: relative;

  .advance-id-filter-master__container {
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;

    label {
      display: flex;
    }

    &.p-b---active {
      padding-bottom: 11px !important;
    }

    &.filter-bg {
      background-color: var(--palette-gray-30);

      &:hover {
        background-color: var(--palette-gray-30);
      }
    }

    .filter-active {
      color: var(--color-primary);

      span {
        border-bottom: 1px solid var(--color-primary);
      }
    }

    &:hover {
      background: #e5e5e5;
    }

    .filter__icon {
      font-size: 16px;
    }

    .advance-id-filter-master__title,
    .advance-count-item__text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      letter-spacing: 0.16px;

      .filter-title {
        margin-right: 7px;
      }
    }
  }

  .advance-id-filter-master__list-container {
    min-width: 280px;
    width: auto;
    height: auto;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 999;
    background-color: $backgound-color;

    .advance-id-filter__input {
      background-color: $backgound-color;

      .input-text__container {
        background-color: white;

        &:not(:focus-within) {
          outline: none;
        }
      }
    }

    .advance-id-master__list {
      background-color: $backgound-color;
      width: 100%;
      overflow-y: auto;
      max-height: 160px;
    }

    .advance-id-filter__loading {
      width: 100%;
      min-height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .advance-id-filter__item {

      &:hover,
      &:focus {
        background-color: #e5e5e5;
      }

      &:focus-visible {
        outline: none;
      }

      &.select__item--selected {
        background-color: var(--palette-grayHover-10);
        display: flex;
        justify-content: space-between;
      }

      position: relative;
      display: flex;
      font-size: 14px;
      line-height: 16px;
      cursor: pointer;

      .ant-checkbox:hover .ant-checkbox-inner {
        border-color: black !important;
      }

      .ant-checkbox-checked .ant-checkbox-inner {
        background-color: black;
        border-color: black;
      }

      .ant-checkbox-input:focus+.ant-checkbox-inner {
        border-color: black;
      }

      .ant-checkbox-indeterminate .ant-checkbox-inner::after {
        background-color: black;
      }

      .ant-checkbox-checked::after {
        border: 1px solid black;
      }

      .ant-checkbox-wrapper:hover .ant-checkbox-inner,
      .ant-checkbox:hover .ant-checkbox-inner,
      .ant-checkbox-input:focus+.ant-checkbox-inner {
        border-color: black;
      }

      /* The container */
      .checkbox__container {
        display: block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      /* Hide the browser's default checkbox */
      .checkbox__container input {
        visibility: hidden;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        border-radius: 2px;
      }

      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0px;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: var(--color-white);
        border-radius: 2px;
        border: 1px solid #d2d5d8;
      }

      .checkbox__container input:checked~.checkmark {
        background-color: var(--color-text);
        border: 1px solid var(--color-text);
      }

      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the checkmark when checked */
      .checkbox__container input:checked~.checkmark:after {
        display: block;
      }

      /* Style the checkmark/indicator */
      .checkbox__container .checkmark:after {
        left: 5px;
        top: 2px;
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    .advance-id-master__list-prefer {
      box-shadow: inset 0px 1px 0px #e1e3e5;
      background: $backgound-color;
    }

    .advance-id-master__text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}