.upload-button__container {
    .upload-dropzone {
        outline: 1px dashed var(--palette-gray-50);
        padding: 16px 85px 48px 16px;
        height: 96px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.16px;
        color: var(--color-primary);

        &:focus,
        &:hover,
        &.is-active {
            outline: 2px solid var(--color-primary);
        }
    }

    .upload-link {
        display: flex;
        align-items: center;
        color: var(--color-primary);
        cursor: pointer;

        .upload-content {
            text-decoration: underline;
        }
    }

    .upload-button__list-file {
        width: 100%;

        .file-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 16px;
            background: var(--palette-gray-10);
            margin-bottom: 8px;
            text-align: left;

            span {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: var(--palette-gray-100);
            }

            .remove-file {
                color: #878D96;

                &:hover {
                    cursor: pointer;
                }
            }

            .w-file-name {
                width: calc(100% - 40px);
            }

        }

        .file-error {
            border: 2px solid var(--color-critical);
            margin-bottom: 8px;

            .file-container {
                border-bottom: 1px solid var(--palette-gray-30);
                margin-bottom: 0px;
            }

            .content-error {
                color: var(--color-critical);
                font-size: 12px;
                line-height: 16px;
                background: var(--palette-gray-10);
                padding: 12px 16px;
            }
        }
    }
}

.flex-file-loaded {
    display: flex;
    flex-wrap: wrap;
}

.w300px {
    width: 300px;
    margin-right: 16px;
}