.upload-button__container {
    .upload-button__list-file {

        .file-container {
            display: flex;
            justify-content: space-between;
            max-width: 300px;
            padding: 10px;
            margin-bottom: 8px;
            background:var(--palette-gray-10);
            text-align: center;
            span {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: var(--palette-gray-100);
            }
            .remove-file{
                color: #878D96;
                &:hover{
                    cursor: pointer;
                }
            }

        }
    }
}