:root {
  --btn-font-size: calc(1em * 0.875);
  --btn-sm: calc(1em * 0.75);
  --btn-radius: 0px;
  --font-size: 14px;
  --line-height: 16px;
}

.btn {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  line-height: var(--line-height);
  border: none;
  padding: var(--space-xxs) var(--space-xs);
  border-radius:  var(--btn-radius);
  font-size: var(--font-size);
  color: var(--color-link);

  transition: 0.2s;

  &:active {
    transition: none;
  }

  .icon {
    /* icon inherits color of button label */
    color: inherit;
    flex-shrink: 0;
  }
}

/* themes */
.btn--primary {
  // main button
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-label);

  &:visited {
    color: var(--btn-primary-label);
  }

  &:hover {
    background-color: var(--btn-primary-hover);
  }

  &:active {
    background-color: var(--btn-primary-active);
  }

  &:focus {
    background-color: var(--btn-primary-focus);
    border: 1px solid #0F62FE;
    box-shadow: 0px 0px 8px #0F62FE;
  }
  &.disabled {
    color: var(btn-primary-disabled-label);
    background-color: var(btn-primary-disabled);
  }
}
.btn--outline-primary {
  // main button
  background-color: var(--white);
  border: 1px solid var(--btn-outline-primary-border);
  color: var(--btn-outline-primary-border);

  &:hover {
    background-color: var(--btn-outline-primary-hover);
    color: var(--white);
  }

  &:active {
    color: var(--white);
    background-color: var(--btn-outline-primary-active);
  }

  &:focus {
    background-color: var(--white);
    color: var(--btn-outline-primary-border);
    border: 1px solid var(--btn-outline-primary-border);
    box-sizing: border-box;
    box-shadow: 0px 0px 8px var(--btn-outline-primary-border);
  }
  &.disabled {
    color: var(--btn-outline-primary-disabled-label);
    background-color: var(--white) !important;
    border-color: var(--btn-outline-primary-disabled-border);
  }
}

.btn--secondary {
  // main button
  background-color: var(--btn-secondary-bg);
  color: var(--btn-secondary-label);

  &:visited {
    color: var(--btn-secondary-label);
  }

  &:hover {
    background-color: var(--btn-secondary-hover);
  }

  &:active {
    background-color: var(--btn-secondary-active);
  }

  &:focus {
    background-color: var(--btn-secondary-focus);
    box-shadow: 0px 0px 8px #0F62FE;
  }
  &.disabled {
    color: var(btn-secondary-disabled-label);
    background-color: var(btn-secondary-disabled);
  }
}

.btn--ghost {
  // main button
  background-color: unset;
  color: var(--btn-ghost-label);

  &:visited {
    color: var(--btn-ghost-label);
  }

  &:hover {
    background-color: var(--btn-ghost-hover);
  }

  &:active {
    box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.05);
    background-color: var(--btn-ghost-active);
  }

  &:focus {
    box-shadow: 0px 0px 8px #0F62FE;
    border: 1px solid #0F62FE;
    background-color: var(--btn-ghost-focus);
  }
  &.disabled {
    color: var(btn-ghost-disabled-label);
  }
}

.btn--ghost-primary {
  // main button
  background-color: unset;
  color: var(--btn-ghost-primary-label);

  &:visited {
    color: var(--btn-ghost-primary-label);
  }

  &:hover {
    background-color: var(--btn-ghost-primary-hover);
  }

  &:active {
    background-color: var(--btn-ghost-primary-hover);
  }

  &:focus {
    box-shadow: 0px 0px 8px #0F62FE;
    border: 1px solid #0F62FE;
    background-color: var(--btn-ghost-primary-focus);
  }
  &.disabled {
    color: var(btn-ghost-primary-disabled-label);
  }
}
.btn--ghost-secondary {
  // main button
  background-color: unset;
  color: var(--btn-ghost-secondary-label);

  &:visited {
    color: var(--btn-ghost-secondary-label);
  }

  &:hover {
    background-color: var(--btn-ghost-secondary-hover);
  }

  &:active {
    background-color: var(--btn-ghost-secondary-hover);
  }

  &:focus {
    box-shadow: 0px 0px 8px #0F62FE;
    border: 1px solid #0F62FE;
    background-color: var(--btn-ghost-secondary-focus);
  }
  &.disabled {
    color: var(btn-ghost-secondary-disabled-label);
  }
}

.btn--danger {
  // main button
  background-color: var(--btn-danger-bg);
  color: var(--btn-danger-label);

  &:visited {
    color: var(--btn-danger-label);
  }

  &:hover {
    background-color: var(--btn-danger-hover);
  }

  &:active {
    background-color: var(--btn-danger-active);
  }

  &:focus {
    background-color: var(--btn-danger-focus);
    border: 1px solid #0F62FE;
    box-shadow: 0px 0px 8px #0F62FE;
  }
  &.disabled {
    color: var(btn-danger-disabled-label);
    background-color: var(btn-danger-disabled);
  }
}

.btn--outline-danger {
  // main button
  background-color: var(--white);
  border: 1px solid var(--btn-outline-danger-border);
  color: var(--btn-outline-danger-border);

  &:hover {
    background-color: var(--btn-outline-danger-hover);
    color: var(--white);
  }

  &:active {
    color: var(--white);
    background-color: var(--btn-outline-danger-active);
  }

  &:focus {
    background-color: var(--btn-outline-danger-hover);
    color: var(--white);
    border: 1px solid #0F62FE;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px #0F62FE;;
  }
  &.disabled {
    color: var(--btn-outline-primary-disabled-label);
    background-color: var(--white) !important;
    border-color: var(--btn-outline-primary-disabled-border);
  }
}




.btn--accent {
  // used to draw special attention to the button (e.g. destructive actions)
  background-color: var(--btn-accent-bg);
  color: var(--btn-accent-label);

  &:visited {
    color: var(--btn-accent-label);
  }

  &:hover {
    background-color: var(--btn-accent-hover);
  }

  &:active {
    background-color: var(--btn-accent-active);
  }
}

/* feedback */
.btn[disabled] {
  cursor: not-allowed;
  background-color: var(--palette-grayscale-200);
  color: var(--palette-grayscale-400);
  box-shadow: none;
  opacity: 0.6;

  &:visited {
    color: var(--btn-disabled-label);
  }
}
.btn-normal-have-icon{

  .button-content-have-icon{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .children-content{
      margin-right: 32px;
    }
    .icon-button{
      font-size: 16px;
    }
  }
  //tio-down_ui
  &.btn--sm {
    height: 32px;
    padding-left: 12px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px !important;
  }
  
  &.btn--md {
    height: 36px;
    padding-left: 16px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  &.btn--lg {
    height: 40px;
    padding-left: 16px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  &.btn--xl {
    height: 56px;
    padding-left: 16px;
    padding-right: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
} 

/* button size */
.btn-normal-no-icon{
  &.btn--sm {
    height: 32px;
    padding-left: 12px;
    padding-right: 64px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px !important;
  }
  
  &.btn--md {
    height: 36px;
    padding-left: 16px;
    padding-right: 64px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  &.btn--lg {
    height: 40px;
    padding-left: 16px;
    padding-right: 64px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  &.btn--xl {
    height: 56px;
    padding-left: 16px;
    padding-right: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.btn-ghost-have-icon{

  .button-content-have-icon{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .children-content{
      margin-right: 8px;
    }
    .icon-button{
      font-size: 16px;
    }
  }
  &.btn--sm {
    height: 32px;
    padding: 8px 12px;
  }
  
  &.btn--md {
    height: 36px;
    padding: 10px 16px;
  }
  
  &.btn--lg {
    height: 40px;
    padding: 12px 16px;
  }
  
  &.btn--xl {
    height: 56px;
    padding: 20px 16px;
  }
} 
.btn-ghost-no-icon{
  &.btn--sm {
    height: 32px;
    padding: 8px 12px;
  }
  
  &.btn--md {
    height: 36px;
    padding: 10px 16px;
  }
  
  &.btn--lg {
    height: 40px;
    padding: 12px 16px;
  }
  
  &.btn--xl {
    height: 56px;
    padding: 20px 16px;
  }
}

.btn--full-width {
  display: flex;
  width: 100%;
  justify-content: center;
}
