:root {
  --btn-font-size: calc(1em * 0.875);
  --btn-sm: calc(1em * 0.75);
  --btn-radius: 0px;
  --font-size: 14px;
  --line-height: 16px;
}

.btn {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  line-height: var(--line-height);
  border: none;
  padding: var(--space-xxs) var(--space-xs);
  border-radius:  var(--btn-radius);
  font-size: var(--font-size);

  transition: 0.2s;

  &:active {
    transition: none;
  }

  .icon {
    /* icon inherits color of button label */
    color: inherit;
    flex-shrink: 0;
  }
}

.btn--bleed-primary { 
  // main button
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-label);

  &:visited {
    color: var(--btn-primary-label);
  }

  &:hover {
    background-color: var(--btn-primary-hover);
  }

  &:active {
    background-color: var(--btn-primary-active);
  }

  &:focus {
    background-color: var(--btn-primary-focus);
    border: 1px solid #0F62FE;
    box-shadow: 0px 0px 8px #0F62FE;
  }
  &.disabled {
    color: var(--btn-primary-disabled-label);
    background-color: var(--btn-primary-disabled);
  }
}
.btn--bleed-secondary { 
  // main button
  background-color: var(--btn-secondary-bg);
  color: var(--btn-secondary-label);

  &:visited {
    color: var(--btn-secondary-label);
  }

  &:hover {
    background-color: var(--btn-secondary-hover);
  }

  &:active {
    background-color: var(--btn-secondary-active);
  }

  &:focus {
    background-color: var(--btn-secondary-focus);
    box-shadow: 0px 0px 8px #0F62FE;
  }
  &.disabled {
    color: var(--btn-secondary-disabled-label);
    background-color: var(--btn-secondary-disabled);
  }
}
.btn--link-plain {
  // main button
  background-color: unset;
  color: var(--btn-link-plain-label);
  text-decoration: underline;

  &:visited {
    color: var(--btn-link-plain-label);
  }

  &:hover {
    background-color: var(--btn-link-plain-hover);
  }

  &:active {
    box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.05);
    background-color: var(--btn-link-plain-active);
  }

  &:focus {
    box-shadow: 0px 0px 8px #0F62FE;
    border: 1px solid #0F62FE;
    background-color: var(--btn-link-plain-focus);
  }
  &.disabled {
    color: var(--btn-link-plain-disabled-label);
    background-color: unset;
  }
}
.btn--link {
  // main button
  background-color: var(--color--link);
  color: var(--color--primary);
  text-decoration: none;

  &:visited {
    color: var(--color--primary);
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    box-shadow: 0px 0px 8px #0F62FE;
    text-decoration: underline;
  }
  &.disabled {
    color: var(--color--link);
    background-color: unset;
  }
}




/* feedback */
.btn[disabled] {
  cursor: not-allowed;
  box-shadow: none;

  &:visited {
    color: var(--btn-disabled-label);
  }
}


.btn-bleed-have-icon{
  padding: 12px 16px 32px 16px;
  .button-content-have-icon{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .children-content{
      margin-right: 32px;
    }
    .icon-button{
      font-size: 16px;
    }
  }
} 
.btn-bleed-no-icon{
  padding: 12px 64px 32px 16px;
}

.btn-link-plain{
  &.btn--sm {
    height: 32px;
    padding: 8px 8px;
  }
  
  &.btn--md {
    height: 36px;
    padding: 10px 10px;
  }
  
  &.btn--lg {
    height: 40px;
    padding: 12px 12px;
  }
  
  &.btn--xl {
    height: 40px;
    padding: 12px 12px;
  }
}
.btn-link{
  padding: 0px 4px;
}

.btn--full-width {
  display: flex;
  width: 100%;
  justify-content: center;
}
