@import "color";
@import "typography";
@import "spacing";
@import "button";
@import "box-shadow";
@import "antd/dist/antd.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
}
