@import "color";
@import "typography";
@import "spacing";
@import "button";
@import "box-shadow";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
}
.text-center{
  text-align: center !important;
}
.text-right{
  text-align: right !important;
}
.text-left{
  text-align: left !important;
}
.text-in-table-cell{
  line-height: 16px;
}
.link-text{
  text-decoration: underline;
  &:hover{
    color: blue;
    text-decoration: underline;
  }
}