.cell-two-line{
    display: flex;
    flex-direction: row;
    margin: 12px 0px;
    width: 100%;
   
    .avatar-two-line-text{
        width: 32px;
        height: 32px;
        &.avatar-type-circle{
            border-radius: 16px;
        }
        &.avatar-type-square{
            border-radius: 0px;
        }
    }
    .icon-two-line-text{
        font-size: 16px;
    }
    .frame-text{
        flex-grow: 1;
        .line-text{
            line-height: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .first-line{
            font-size: 14px;
        }
        .second-line{
            font-size: 12px;
        }
    }
    
}