.component__input-search-select{
    &.active-background .input-search-select__wrapper,&.active-background .input-search-select__wrapper .component__input-search-box .component__input-search {
        background-color: var(--palette-grayHover-10);
    }
    &.input-search-select__wrapper,&.input-search-select__wrapper .component__input-search-box .component__input-search {
        background-color: var(--palette-grayHover-10);
    }

    &:hover .input-search-select__wrapper,&:hover .input-search-select__wrapper .component__input-search-box .component__input-search {
        background-color: var(--palette-grayHover-10);
    }
    &:focus .input-search-select__wrapper,&:focus .input-search-select__wrapper .component__input-search-box .component__input-search {
        background-color: var(--palette-grayHover-10);
    }
    
    .input-search-select__wrapper {
        width: 100%;
        overflow: hidden;
        display: flex;
        height: 40px;
        background-color: var(--palette-gray-10);
        
        .component__input-search-box {
            height: 40px;
            width: 100% ;
            display: flex;
            flex-direction: row;
            align-items: center;
            .component__input-search {
                height: 40px;
                border: none !important ;
                width: 100% ;
                outline: none;
                background-color: var(--palette-gray-10);
            }
            .input-icon__clear{
                color: var(--palette-coolGray-50);
            }
        }
    }
}