.modal__container {
    &.size-large{
        width: 720px !important;
    }
    &.size-medium{
        width: 520px !important;
    }
    &.size-small{
        width: 320px !important;
    }
    .ant-modal-header {
        border-bottom: none !important;
        height: 56px;
        padding: 16px 20px 16px 16px;
        .ant-modal-title{
            font-size: 20px;
            line-height: 24px;
        }
    }

    .ant-modal-body {
        padding: 0px !important;
        .modal_content {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            padding: 0px 16px 48px 16px !important;
        }
    }
    
    .ant-modal-footer {
        padding: 0px !important;
        border-top: none !important;
    }
    
}