.badge-text{
    padding: 2px 8px;
    border-radius: 12px;
}
.badge-text-table-size-large{
    margin: 20px 0px;
}
.badge-text-table-size-medium{
    margin: 12px 0px;
}
.badge-text-table-size-small{
    margin: 6px 0px;
}