.btn--link {
    background-color: var(--color-white);
    color: var(--color-primary);
    text-decoration: none;
    letter-spacing: 0.244px;
    padding: 0px 4px !important;

    &:visited {
        color: var(--color-primary);
    }

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        box-shadow: inset 0 0 0 2px var(--color-primary);
        text-decoration: underline;
    }
    &.disabled {
        color: var(--palette-gray-50) !important ;
        background-color: var(--color-white) !important;
        &:hover{
            text-decoration: none;
        }
    }
}
