.btn--link {
    background-color: var(--color-white);
    color: var(--color-primary);
    text-decoration: none;

    &:visited {
        color: var(--color-primary);
    }

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        box-shadow: 0px 0px 8px var(--color-primary);
        text-decoration: underline;
    }
    &.disabled {
        color: var(--color-gray-50);
        background-color: var(--color-white);
        &:hover{
            text-decoration: none;
        }
    }
}
.btn-link {
    padding: 0px 4px !important;
}
