.action-bar-container{
    height: 40px;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .item-selected-counter{
        color: var(--color-white);
    }
    padding: 0px 0px 0px 16px;
    .action-button{
        display: flex;
        flex-direction: row;
        align-items: center ;
        .button-cancel{
            padding: 8px 12px;
            color: var(--color-white);
            font-weight: 400;
            &:hover{
                cursor: pointer;
            }
        }
    }
    
}
.action-bar-active{
    height: 40px;
    transition: height 0.1s;
    display: flex;
}
.action-bar-inactive{
    height: 0px;
    .item-selected-counter {
        display: none;
    }
    transition: height 0.1s;
}