.drawer__container {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  transition: 0.2s;
  background: #ffffff;
  z-index: 1010;

  &.side-left {
    left: 0;
  }

  &.side-right {
    right: 0;
  }

  &.slide-out {
    &.drawer-sm {
      width: 400px;
      .drawer_footer {
        display: block;
        width: 400px;
      }
    }
    &.drawer-lg {
      width: 594px;
      .drawer_footer {
        width: 594px;
        display: block;
      }
    }
    &.drawer-xl {
      width: 55vw;
      .drawer_footer {
        width: 55vw;
        display: block;
      }
    }
    &.drawer-2xl {
      width: 80vw;
      .drawer_footer {
        width: 80vw;
        display: block;
      }
    }
    &.drawer-max {
      width: 90vw;
      .drawer_footer {
        width: 90vw;
        display: block;
      }
    }
  }

  .drawer__content {
    position: relative;
    width: 100%;
    height: 100vh;

    .drawer__header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      box-shadow: inset 0px -1px 0px #e1e3e5;

      .drawer__header-text {
        .title {
          font-size: 20px;
          line-height: 24px;
        }

        padding: 12px 16px;
        &.have-description {
          padding: 16px 12px 16px 16px;
          .description {
            font-size: 14px;
            line-height: 16px;
            margin-top: 3px;
          }
        }
      }
      .button-cancel {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: gray;
      }
      .button-cancel:hover {
        cursor: pointer;
        color: #161616;
      }
    }

    .drawer__body {
      flex-grow: 1;
      padding: 16px 16px 80px 16px;
      height: calc(100% - 140px);
      overflow: auto;
    }
    .drawer_footer {
      position: fixed;
      bottom: 0;
      border-top: 1px solid #f8f8fa;
      background-color: #ffffff;
      display: none;
      .button-bleed-footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .button-50 {
          width: 49.9%;
        }
        .button-33 {
          width: 33.15%;
        }
      }
    }
    .drawer-preview_footer {
      position: fixed;
      padding: 16px 16px 16px 0px;
      bottom: 0;
      border-top: 1px solid #f8f8fa;
      background-color: #ffffff;
      width: 100%;
    }
  }
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  cursor: pointer;
  transition: 1s;
  overflow-x: hidden;
}
