.btn--link-plain {
    background-color: unset;
    color: var(--palette-gray-100);
    text-decoration: underline !important;
 
    &:visited {
        color: var(--palette-gray-100);
    }

    &:hover {
        background-color: var(--palette-grayHover-10) !important;
    }

    &:active {
        background-color: var(--palette-gray-30);
    }

    &:focus {
        box-shadow: inset 0 0 0 2px var(--color-primary);
        background-color: var(--color-white);
    }
    &.disabled {
        color:  var(--palette-gray-50) !important;
        background-color: unset !important;
    }
}

.btn-link-plain {
    letter-spacing: 0.244px;
    &.btn--sm {
        height: 32px;
        padding: 8px 8px;
    }

    &.btn--md {
        height: 36px;
        padding: 10px 10px;
    }

    &.btn--lg {
        height: 40px;
        padding: 12px 12px;
    }

    &.btn--xl {
        height: 40px;
        padding: 12px 12px;
    }
}
