/* Style for InputRange.tsx */
.input-range__container {
    display: flex;
    align-items: center;
    .input-range__input-number-to {
        .component__title {
            visibility: hidden;
        }
    }
}