.status-active{
    font-size: 14px;
    color: #00B391;
    margin-right: 8px;
}
.status-inactive{
    margin-right: 8px;
    font-size: 14px;
    color: gray;
}
.status-line-data{
    display: flex;
    flex-direction: row;
    align-items: center;
}