.status-active{
    font-size: 14px;
    color: #00B391;
    padding-right: 8px;
}
.status-inactive{
    padding-right: 8px;
    font-size: 14px;
    color: gray;
}
.status-line-table-size-large{
    margin: 20px 0px;
}
.status-line-table-size-medium{
    margin: 12px 0px;
}
.status-line-table-size-small{
    margin: 8px 0px;
}