.checkbox-group__container {
    .checkbox-group__label {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.32px;
        color: var(--palette-gray-70);
    }
}