.layout-header-left{
    padding-left: 16px;
    padding-right: 8px;
}
.layout-header-right{
    padding-right: 16px;
    padding-left: 8px;
}
.layout-header-center{
    padding-left: 8px;
    padding-right: 8px;
}