.avatar-one-line-text-table-size-large{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 8px;
}
.avatar-one-line-text-table-size-medium{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-right: 8px;
}

.icon-one-line-text{
    font-size: 16px;
    margin-right: 8px;
}
.one-line-text-table-size-large{
    margin: 20px 0px;
}
.one-line-text-table-size-medium{
    margin: 12px 0px;
}
.one-line-text-table-size-small{
    margin: 8px 0px;
}
.one-line-image-text-table-size-large{
    margin: 12px 0px;
}
.one-line-image-text-table-size-medium{
    margin: 8px 0px;
}
.one-line-image-text-table-size-small{
    margin: 8px 0px;
}