.upload-file__container{
    width: 100%;
}
.avatar-css-demo {
    width: 140px !important;
    height: 140px !important;
    border-radius: 71px !important;
    border: none !important;
    &:hover {
        cursor: pointer !important;
    }
}