.multiple-select__list {
  .select__item {
    padding-right: 12px !important;
  }
  .select__item--selected {
    justify-content: flex-start !important;
  }
  .ant-checkbox-wrapper {
    width: 100%;
  }
}

.multiple-select__container {
  .checkbox__container {
    display: flex;
    align-items: center;
  }
  .multiple-select__text {
    margin-left: 24px;
  }
  .component__input  {
    input {
      cursor: default;
    }
    
  }

  .ant-checkbox:hover .ant-checkbox-inner {
    border-color: var(--color-text) !important;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--color-text);
    border-color: var(--color-text);
  }
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: var(--color-text);
  }
  .ant-checkbox-indeterminate .ant-checkbox-inner::after {
    background-color: var(--color-text);
  }
  .ant-checkbox-checked::after {
    border: 1px solid var(--color-text);
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: var(--color-text);
  }
}
