.form-data-cell-left{
    padding-left: 16px;
    padding-right: 8px;
}
.form-data-cell-right{
    padding-right: 16px;
    padding-left: 8px;
}
.form-data-cell-center{
    padding-left: 8px;
    padding-right: 8px;
}