.tear-sheet__component {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: -1;
  transition: all 400ms cubic-bezier(0.4, 0.14, 0.3, 1) 400ms;
  display: flex;
  justify-content: center;

  &.background-active {
    background-color: rgba(22, 22, 22, 0.5);
    z-index: 1000;
    transition: opacity 400ms cubic-bezier(0.4, 0.14, 0.3, 1), background-color 720ms cubic-bezier(0.2, 0, 0.38, 0.9);
    opacity: 1;
  }

  .tear-sheet__container {
    width: calc(100% * 2 / 3);
    height: calc(100% * 3 / 4);
    position: absolute;
    z-index: 1500;
    background-color: white;
    transform: translate(0, 100vh);
    transition: all 400ms cubic-bezier(0.4, 0.14, 0.3, 1);

    &.content-active {
      transform: translate(0, 33.33%);
    }

    .tear-sheet__header {
      padding: 24px 80px 8px 32px;
      border-bottom: 1px solid #e0e0e0;

      &.pb24px {
        padding-bottom: 24px !important;
      }

      .tear-sheet__header-title {
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.25;
        letter-spacing: 0;
      }

      .tear-sheet__header-description {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.42857;
        letter-spacing: 0.16px;
        color: #525252;
      }

      .tear-sheet__header-additional-content {
        height: 40px;
        display: flex;
        align-items: center;
      }

      .button-close {
        position: absolute;
        top: 0px;
        right: 0px;
      }

    }

    .tear-sheet__body {
      height: inherit;
      overflow-y: scroll;

      &.pb60px {
        padding-bottom: 60px;
      }

    }

    .tear-sheet__footer {
      position: absolute;
      width: 100%;
      bottom: 0px;
      display: flex;
      justify-content: flex-end;
      border-top: 1px solid rgb(224, 224, 224);
      background-color: white;

      .btn-component {
        width: 250px !important;
      }
    }
  }
}