@import "../../styles/index.scss";
/* Style for TreeSelect.tsx */
.tree-select__container {
  width: 100%;

  position: relative;

  .ant-checkbox-checked {
    .ant-checkbox-inner {
      background-color: var(--color-text);
      border-color: var(--color-text);
    }
  }

  .ant-checkbox:hover,
  .ant-checkbox-checked:hover {
    .ant-checkbox-inner {
      border-color: var(--color-text);
    }
  }

  .tree-select__input {
    width: 100%;
  }

  .tree-select__list {
    width: 100%;
    margin-top: 5px;
    position: absolute;
    z-index: 999;

    .ant-tree-checkbox:hover,
    .ant-tree-checkbox-checked:hover {
      .ant-tree-checkbox-inner {
        border-color: var(--color-text);
      }
    }

    .ant-tree-checkbox-checked {
      .ant-tree-checkbox-inner {
        background-color: var(--color-text);
        border-color: var(--color-text);
      }
    }

    .ant-tree-checkbox-inner {
      border: 1px solid var(--color-input-disabled);
    }
  }
}
