/* Style for InputTag.tsx */
.input-tag__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .input-tag__label {
    width: 100%;
    display: flex;
    .component__title--disabled {
      color: var(--palette-gray-40);
    }
    label {
      font-size: 0.75em;
      white-space: nowrap;
      color: var(--palette-gray-70);
    }
  }

  .input-tag__container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    outline: 1px solid var(--palette-coolGray-50);
    height: 40px;
    background-color: var(--palette-gray-10);

    &.input-tag--filter-have-item {
      outline: 1px solid var(--color-primary);
    }

    .input-tag__icon {
      transition: all 0.3s ease;
      color: var(--palette-gray-60);
    }

    &.input-tag__container--sm {
      height: 32px !important;
    }

    &.input-tag__container--white {
      background-color: var(--color-white);
    }

    &:hover {
      outline-color: var(--color-primary);

      .input-tag__icon {
        color: var(--color-primary);
      }
      .input-tag__icon--disabled {
        color: var(--palette-gray-40);
      }
    }

    &:focus-within {
      outline: 2px solid var(--color-primary);
      .input-tag__icon {
        transform: rotate(180deg);
        color: var(--color-primary);
      }
    }

    &.input-tag--disabled {
      background-color: var(--palette-gray-10);
      span {
        color: var(--palette-gray-40);
      }
      input {
        color: var(--palette-gray-40) !important;
      }
      .input-tag-item__text,
      .input-tag-item__icon {
        color: var(--palette-white-100);
      }
      &:hover {
        outline-color: var(--palette-coolGray-50);
        cursor: not-allowed;
      }
      &.input-tag--filter-have-item {
        outline-color: var(--palette-coolGray-50);
      }
    }

    &.input-tag__container--material {
      outline: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: inset 0px -1px 0px var(--palette-gray-50);
      margin-bottom: -1px;

      &.input-tag--filter-have-item {
        outline: 1px solid var(--color-primary);
        box-shadow: none;
      }

      &:hover {
        background-color: var(--palette-grayHover-10);
        .component__input {
          background-color: var(--palette-grayHover-10);
        }
        .component__input.disabled-field {
          background-color: var(--palette-gray-10);
        }
        .input-tag__icon {
          color: var(--palette-gray-60);
        }
      }

      &:focus-within {
        outline: 2px solid var(--color-primary);
        box-shadow: none;
        .input-tag__icon {
          color: var(--palette-gray-60);
        }
      }

      &.input-tag--disabled {
        box-shadow: none;
        background-color: var(--palette-gray-10);
        &.input-tag--filter-have-item {
          outline: none;
        }
      }

      &.input-tag--float:focus-within {
        box-shadow: none;
        outline-width: 2px;
      }
    }

    &.input-tag__container--float {
      &:hover:not(.input-tag--disabled):not(:focus-within) {
        outline-color: var(--palette-gray-100);
        .input-tag__icon {
          color: var(--palette-gray-60);
        }
      }

      &:focus-within {
        box-shadow: none;
        outline: 2px solid var(--color-primary);
        .component__title {
          color: var(--color-primary);
        }
        .input-icon {
          color: var(--color-primary);
        }
      }

      .input-tag-item__label--small {
        height: 16px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 4px;
        min-width: 33px;

        span {
          margin-right: 5px;
        }

        .input-tag-item__icon {
          cursor: pointer;
          margin-right: -4px;
          width: 16px;
          height: 16px;
        }
      }
      .component__title {
        &.component__title--top {
          line-height: 16px;
        }
      }
    }

    .component__title {
      position: absolute;
      color: var(--palette-gray-60);
      transition: all 0.1s ease-out;
      padding: 0 4px;
      z-index: 200;
      top: 9px;
      font-size: 14px;

      &.component__title--normal {
        left: 8px;
      }
      &.component__title--sm {
        top: 5px;
      }
      &.component__title--prefix {
        left: 41px;
      }

      &.component__title--top {
        top: 0;
        left: 8px;
        background-color: var(--color-white);
        transform: translateY(-50%) scale(0.9);
      }
    }

    .input-tag-item__label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 20px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-right: 6px;
      white-space: nowrap;
      background: var(--palette-black-100);
      border-radius: 12px;
      font-size: 14px;
      color: var(--color-white);
      margin-top: -2px;
      margin-bottom: -2px;
      cursor: pointer;

      span {
        margin-right: 7px;
      }

      .input-tag-item__icon {
        cursor: pointer;

        border-radius: 12px;
        margin-right: -6px;
        border-radius: 12px;
        width: 20px;
        height: 20px;
        &:hover {
          background-color: #353535;
        }
      }
    }

    input {
      display: inline;
      font-family: inherit;
      padding: 0;
      outline: none;
      border: none;
      width: 100%;
      font-size: 14px;
      line-height: 1rem;
      background-color: transparent;

      &::placeholder {
        color: var(--palette-gray-60);
      }

      &:disabled {
        &:hover {
          cursor: not-allowed;
        }
        &::placeholder {
          color: var(--palette-gray-40);
        }
      }

      &:not(:placeholder-shown) + .component__title {
        top: 0;
        left: 8px;
        background-color: var(--color-white);
        transform: translateY(-50%) scale(0.9);
      }

      &:focus + .component__title {
        top: 0;
        left: 8px;
        background-color: var(--color-white);
        transform: translateY(-50%) scale(0.9);
      }

      &:focus::placeholder {
        color: transparent;
      }
    }

    .input-tag__icon--disabled {
      color: var(--palette-gray-40);
    }

    .input-icon__clear {
      color: var(--palette-coolGray-50);
      width: 16px;
      height: 16px;
      &:hover {
        cursor: pointer;
        color: var(--palette-coolGrayHover-50);
      }
    }
  }
}

.form-item__container {
  &.form-item__container--error {
    .form-item__content {
      .component__input {
        &.input-tag__container--material {
          outline: 1px solid;
          box-shadow: none !important;
          &:focus-within {
            outline-color: var(--color-primary) !important;
            outline-width: 2px;
          }
        }
      }
    }
  }
}
