@import "../../../styles/index.scss";

/* Style for InputTag.tsx */
.input-tag__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .input-tag__label {
    width: 100%;
    display: flex;

    label {
      font-size: 0.75em;
      white-space: nowrap;
    }
  }

  .input-tag__container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    outline: 1px solid var(--color-border);
    background-color: white;
    height: 40px;

    .tio-chevron_down {
      transition: all 0.3s ease;
      color: var(--color-input-placeholder);
    }

    &.input-tag__container--sm {
      height: 32px !important;
    }

    &:hover {
      outline-color: var(--color-primary);

      .input-tag__icon {
        color: var(--color-primary);
      }
      .input-tag__icon--disabled {
        color: var(--color-input-disabled);
      }
    }

    &:focus-within {
      outline-color: var(--color-primary);
      @include box-shadow--focus;
      .tio-chevron_down {
        transform: rotate(180deg);
        color: var(--color-primary);
      }
    }

    &.input-tag--disabled {
      outline-color: #d2d5d8;
      background-color: var(--color-surface-input-disabled);
    }

    &.input-tag__container--float:focus-within {
      outline-color: var(--color-primary);
      @include box-shadow--focus;
      .component__title {
        color: var(--color-primary);
      }
    }

    &.input-tag__container--material {
      background-color: var(--color-surface-input);
      outline: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 1px solid var(--color-border);
      margin-bottom: -1px;

      &:hover {
        background-color: var(--color-surface-input-hover);
        .component__input {
          background-color: var(--color-surface-input-hover);
        }
        .component__input.disabled-field {
          background-color: var(--color-surface-input-disabled);
        }
        .tio-chevron_down {
          color: var(--color-input-placeholder);
        }
      }

      &:focus-within {
        border: 1px solid var(--color-primary);
        @include box-shadow--focus();
      }

      &.input-tag--disabled {
        border-color: var(--color-border-disabled);
        background-color: var(--color-surface-input-disabled);
      }

      &.input-tag--float:focus-within {
        box-shadow: none;
        outline-width: 2px;
      }
    }

    &.input-tag__container--float {
      .input-tag-item__label--small {
        height: 16px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 4px;
        min-width: 33px;
      }
      .component__title {
        &.component__title--top {
          line-height: 16px;
        }
      }
    }

    .component__title {
      position: absolute;
      color: gray;
      transition: all 0.1s ease-out;
      padding: 0 4px;
      z-index: 200;
      top: 9px;
      font-size: 14px;

      &.component__title--normal {
        left: 8px;
      }
      &.component__title--sm {
        top: 5px;
      }
      &.component__title--prefix {
        left: 41px;
      }

      &.component__title--top {
        top: 0;
        left: 8px;
        background-color: white;
        transform: translateY(-50%) scale(0.9);
      }
    }

    .input-tag-item__label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 20px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-right: 6px;
      white-space: nowrap;
      background: #0d1821;
      border-radius: 12px;
      font-size: 14px;
      color: white;
      margin-top: -2px;
      margin-bottom: -2px;

      .input-tag-item__icon {
        cursor: pointer;
        margin-right: -3px;
      }
    }

    input {
      display: inline;
      font-family: inherit;
      padding: 0;
      outline: none;
      border: none;
      width: 100%;
      font-size: 14px;
      line-height: 1rem;
      background-color: transparent;

      &::placeholder {
        color: var(--color-input-placeholder);
      }

      &:disabled::placeholder {
        color: var(--color-input-disabled);
      }

      &:not(:placeholder-shown) + .component__title {
        top: 0;
        left: 8px;
        background-color: white;
        transform: translateY(-50%) scale(0.9);
      }

      &:focus + .component__title {
        top: 0;
        left: 8px;
        background-color: white;
        transform: translateY(-50%) scale(0.9);
      }

      &:focus::placeholder {
        color: transparent;
      }
    }

    .input-tag__icon--disabled {
      color: var(--color-input-disabled);
    }

    .input-icon__clear {
      color: #959aa3;
      &:hover {
        cursor: pointer;
        color: #25343a !important;
      }
    }
  }
}

.form-item__container--error {
  .input-tag__container--material {
    border: 1px solid;
  }
}
