@import "../../styles/index.scss";

.tree-container {
  width: 100%;
  height: auto;
  max-width: 300px;
  padding: 10px;
  background-color: var(--color-surface-material-input);
  @include box-shadow--popover();
  &.tree-container--lg {
    max-width: 350px !important;
  }
  &.tree-container--sm {
    max-width: 250px !important;
  }
  .tree__icon {
    display: block;
  }
  .tree__loading {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ant-tree-list {
    background-color: var(--color-surface-material-input);
  }
  .ant-tree .ant-tree-switcher_close .tree__icon {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .ant-tree-rtl.ant-tree .ant-tree-switcher_close .tree__icon {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
