@import "../../styles/index.scss";

.icon-table-expand {
  opacity: 0.5;
}
.page-table {
  .ant-table-thead > tr > th {
    font-size: 12px;
    font-weight: bold;
    background-color: #E0E0E0;
  }
  .ant-table-tbody > tr.ant-table-row:hover > td,
  .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background-color: #E5E5E5;
  }
  .ant-table-tbody > tr.ant-table-row-selected > td {
    background-color: #F4F4F4;
  }
  .ant-table-thead > tr > th {
    padding: 0px 0px;
  }
  .ant-table-tbody > tr > td {
    padding: 0px 0px;
  }
  .ant-table-tbody > tr > td > .ant-table-wrapper:only-child .ant-table,
  .ant-table-tbody > tr > td > .ant-table-expanded-row-fixed > .ant-table-wrapper:only-child .ant-table {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .table-size-large {
    .ant-table-cell {
      height: 56px !important;
    }
  }
  .table-size-medium {
    .ant-table-cell {
      height: 40px !important;
    }
  }
  .table-size-small {
    .ant-table-cell {
      height: 32px !important;
    }
  }
  .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
    background-color: unset;
  }
  .ant-checkbox:hover .ant-checkbox-inner {
    border-color: black !important;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: black;
    border-color: black;
  }
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: black;
  }
  .ant-checkbox-indeterminate .ant-checkbox-inner::after {
    background-color: black;
  }
  .ant-checkbox-checked::after {
    border: 1px solid black;
  }
}
.ant-table-body.active-draggable {
  cursor: grabbing;
}
.ant-table-body {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ecf3fa;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(68, 102, 242, 0.15);
  }
}
